.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 1000px;
    background-color: white;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px
}